@font-face {
    font-family: Hanken Grotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk;
}


.container1{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.upper_part{
    background: hsla(241, 81%, 54%, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lower_part{
    background: hsl(0, 0%, 100%);
    width: 375px;
}

/* headings */
h1, h2 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
h3{
    color:hsl(213, 14%, 63%);
    text-align: center;
    width: 300px;
    font-weight: 500;
    font-size: 18px;
    
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 38px;
}

.circle{
    display: grid;
    background: hsla(256, 72%, 46%, 0.7);
    grid-auto-columns: 100%;
    grid-auto-rows: 1fr 1fr 1fr;
    /* grid-gap: 1em; */
    width: 15vw;
    height:15vh;
    border-radius: 50%;
    
}

.result_circle_grid_1{
}

.result_circle_grid_2{
}

.result_circle_grid_3{
    display: flex;
}


