/* general */
@font-face {
    font-family: Hanken Grotesk;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* headings */
h1,h2 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

h3 {
    color: hsl(213, 14%, 63%);
    text-align: center;
    width: 300px;
    font-weight: 500;
    font-size: 16px;

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 38px;
}

.others_text{
    width: 80%;
}

/* upper part general */
.upper_part{
    background: hsla(241, 81%, 54%, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 375px;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: repeat(auto, 1fr);
    grid-row-gap: 0.8em;
}

.your-result {
    grid-area: 1/2/1/3;
    display: flex;
    justify-content: center;
}

.great{
    grid-area: 4/2/4/3;
    display: flex;
    justify-content: center;
}

.others-info{
    grid-area: 5/1/5/4;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* circle element */
.circle{
    display: grid;
    background: hsla(256, 72%, 46%, 0.7);
    grid-auto-columns: 100%;
    grid-auto-rows: 1fr 1fr 1fr;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.result_circle_grid_3{
    display: flex;
}

/* lower part */
.lower_part {
    background: hsl(0, 0%, 100%);
    width: 375px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(1fr, 2em);
    grid-gap: 1em;
    font-weight: 700;
    font-size: 16px;
    /* align-items: center; */
}

/* margins lower part */

.summary_breakdown, .continue, .summary{
    margin: 0 1rem;
    height: 2em;
}

/* other stuff lower part */ 
.summary_breakdown{
    border-radius: .8vh;
    padding: 0 2%;
}

.buffer{
    grid-area: 1/1/1/1;
    height: 1fr;
}

.summary{
    grid-area:2/1/2/1;
    color: black;
}

.svg1, .svg2, .svg3, .svg4 {
    align-self: center;
}

.score{
    justify-self: end;
    align-self: center;
}

.summary-name{
    justify-self: start;
    align-self: center;
}

.reacting{
    grid-area: 3/1/3/1;
    color: hsl(0, 100%, 67%);
    background: hsla(0, 100%, 67%, 0.2);
    display: grid;
    grid-template-columns: 10% 65% 25%;
}

.memory{
    grid-area: 4/1/4/1;
    color: hsl(39, 100%, 56%);
    background: hsla(39, 100%, 56%, 0.2);
    display: grid;
    grid-template-columns: 10% 65% 25%;
  
}

.verbal{
    grid-area: 5/1/5/1;
    color: hsl(166, 100%, 37%);
    background: hsla(166, 100%, 37%, .2);
    display: grid;
    grid-template-columns: 10% 65% 25%;
}


.visual{
    grid-area: 6/1/6/1;
    color: hsl(234, 85%, 45%);
    background: hsla(234, 85%, 45%, 0.2);
    display: grid;
    grid-template-columns: 10% 65% 25%;
}


.continue{
    grid-area: 7/1/7/1;
    border-radius: 5vh;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}